<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="github" value="https://nuget.pkg.github.com/jsilvastasiak/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="jsilvastasiak" />
            <add key="ClearTextPassword" value="04ddd33395314ffc8e64b71d5593e80a702f0f40" />
        </github>
    </packageSourceCredentials>
</configuration>